#---------------------------------------------------#
# .gitignore file for the flexdumbell project       #
#                                                   #
# Author: Sabino Maggi, CNR-IIA                     #
# Created:       15 Mar 2024                        #
# Last revision: 15 Mar 2024                        #
#---------------------------------------------------#

#--- Mac OS X junk
.DS_Store

#--- ignore VSCode stuff
# **/*.code-workspace

#--- History files
.Rhistory
.Rapp.history

#--- Session Data files
.RData
.RDataTmp

#--- # RStudio files
.Rproj.user

#--- User-specific files
# .Ruserdata

#--- knitr and R markdown default cache directories
*_cache/
/cache/

#--- Temporary files created by R markdown
*.utf8.md
*.knit.md

#--- Downloaded pdf files in data directories
data/**/*.pdf

#--- R rds files
data/**/*.rds
